@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



.title {
  position: relative; /* Necesario para el posicionamiento absoluto del ::before */
  display: inline-block;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  font-family: 'Poppins', sans-serif; 
  color: #ffffff; 
  text-shadow: 0 0 5px rgba(0, 2, 109, 0.582); 
  background-color: #6b4cd4;
  overflow: hidden; /* Asegura que el texto alternativo no se desborde del contenedor */
  width: 100%
}

.text {
  position: relative; /* Necesario para el correcto apilamiento de los elementos */
  z-index: 1; /* Asegura que el texto original esté sobre el pseudo-elemento */
  transition: opacity 0.5s ease;
}

.title::before {
  content: "Gracias por usar la app de Sorteos Hangaroa 🥳🎉 ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 2, 109, 0.582);
  opacity: 0;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0; /* Asegura que el texto alternativo esté detrás del texto original */
}

.title:hover .text {
  opacity: 0;
}

.title:hover::before {
  opacity: 1;
}












.show-container {
  
  background-color: #000000; 
  padding: 20px;
  border-radius: 10px;
  align-items: center; 
  z-index: -20;
}

.canvas-container {
  position: relative;
  width: 500px; /* Tamaño del div que contiene el canvas */
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Oculta el contenido que sobresale del contenedor */
}

.content-wrapper {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 20px; 
  padding: 0 20px; 
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.left-column, .right-column {
  background-color: #2e3a59; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.reel-container {
  position: relative;
  width: 400px; /* Tamaño del canvas del rodillo */
  height: 200px; /* Ajusta la altura según sea necesario */
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  display: flex; /* Centra el contenido del canvas */
  align-items: center;
  justify-content: center;
}

.left-column {
  position: relative; /* Asegúrate de que la columna izquierda pueda contener elementos posicionados */
 /* background-color: #5839b0;  Fondo oscuro para el estilo de tragamonedas */
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  background-color: #000;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  cursor: pointer;
  color: white;

  width: 450px;
  height: 410px;
}

.left-column::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 460px;
  height: 420px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.left-column::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}


.left-column:hover::after {
  filter: blur(30px);
}

.left-column:hover::before {
  transform: rotate(-90deg) scaleX(0.8) scaleY(1.0);
}



.right-column {
  position: relative;
  background-color: #6b4cd4;
  width: 400px; /* Tamaño del canvas del rodillo */
  height: 200px; /* Ajusta la altura según sea necesario */
  transition: background-color 0.5s ease, height 0.5s ease; /* Añade transición suave */
  color: white
}

.winner {
  text-align: center;
  font-family: 'Poppins', sans-serif; 
  color: #f97316; 
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.5); 
}
.winner-transition {
  background-color: #ff6600; /* Color de fondo cuando hay un ganador */
  transition: background-color 0.5s ease;
}



canvas {
  display: block;
  width: 100%; /* Asegura que el canvas ocupe todo el ancho disponible */
  height: 100%; /* Ajusta la altura automáticamente para mantener la proporción */
}

.active-button {
  background-color: #ff6600; /* Color vibrante */
  color: #FFFFFF; /* Texto blanco para contraste */
  font-family: 'Poppins', sans-serif; /* Fuente moderna y vibrante */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 100, 0, 0.5); /* Sombra colorida */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.disabled-button {
  background-color: #793000; /* Color vibrante */
  color: #FFFFFF; /* Texto blanco para contraste */
  font-family: 'Poppins', sans-serif; /* Fuente moderna y vibrante */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 100, 0, 0.5); /* Sombra colorida */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000000; /* Color más claro al pasar el mouse */
}

button:active {
  background-color: #000000; /* Color más oscuro al presionar */
}

.arrow {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: auto;
  z-index: 1;
}

.logo-top-right {
  position: relative; /* Cambiar de absolute a relative para centrarlo en su contenedor */
  margin: 0 auto; /* Centramos horizontalmente */
  width: 110px; /* Establece el ancho máximo deseado */
  max-width: 100%; /* Asegúrate de que no sobrepase el contenedor padre */
  height: auto; /* Mantiene la proporción correcta */
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-advertisement, .right-advertisement {
  flex-shrink: 0; /* Evita que las imágenes se encojan */
}

.left-advertisement img, .right-advertisement img {
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 64, 129, 0.5);
}

.left-advertisement {
  margin-right: auto; /* Empuja la imagen hacia el borde izquierdo */
}

.right-advertisement {
  margin-left: auto; /* Empuja la imagen hacia el borde derecho */
}

.highlight-box {
  position: absolute;
  top: 60%; /* Ajusta este valor para posicionar el rectángulo */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Ajusta el ancho para que coincida con el texto */
  height: 50px; /* Ajusta la altura para que cubra solo una línea de texto */
  border: 2px solid #ff6600; /* Bordes blancos con transparencia */
  background-color: rgba(255, 255, 255, 0); /* Fondo blanco con transparencia */
  border-radius: 10px;
  pointer-events: none; /* Evita que interfiera con el clic */
}




/* Estilo para el contenedor de ganadores */
.winners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre recuadros */
  background-color: #6b4cd4;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  height: 200px; /* Ajusta según el tamaño deseado */
  color: white;
  width: 500px;
  transform: translate(100%, -40%);
  opacity: 0; /* Oculta el contenedor inicialmente */
  visibility: hidden; /* Oculta el contenedor inicialmente */
 
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease; /* Suaviza las transiciones */
}

.winners-container.show {
  opacity: 1; /* Hace visible el contenedor */
  visibility: visible; /* Hace visible el contenedor */
  
}


/* Estilo para cada recuadro de ganador */
.card-container {
  background-color: #1e2a38; /* Fondo de los recuadros */
  border: 2px solid #4a5d75; /* Borde del recuadro */
  border-radius: 8px;
  padding: 10px;
  width: 150px; /* Ajusta el tamaño del recuadro */
  height: 100px; /* Ajusta el tamaño del recuadro */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efecto de profundidad */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para efecto de zoom */
}

/* Estilo para el texto dentro del recuadro */
.card h4 {
  color: #ffffff;
  margin: 0;
  font-size: 16px; /* Tamaño de fuente */
}

/* Efecto de zoom al pasar el mouse */
.card-container:hover {
  transform: scale(1.1); /* Escala al 110% */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}


.winners-container h4 {
  position: absolute; /* Posiciona el elemento de forma absoluta dentro del contenedor */
  top: 20px; /* Espaciado desde la parte superior */
  left: 20px; /* Espaciado desde la parte izquierda */
  color: #fff; /* Color del texto */
  font-size: 24px; /* Tamaño del texto */
  margin: 0; /* Elimina el margen por defecto */
}