<nav class="navbar">
    <div class="navbar-left">
      <div class="navbar-logo">
        <a href="/other-home">
          <img src="assets/images/navbar/logo sin fondo.png" alt="Sorteos">
          <span class="brand-name">Sorteos</span>
        </a>
      </div>
      <div class="navbar-profile">
        <img src="assets/images/navbar/profile-icon.png" alt="Profile Icon">
      </div>
    </div>
    <div class="navbar-menu">
      <a [routerLink]="['/other-home']" fragment="usadas" class="navbar-link">Inicio</a>
      <div class="navbar-divider"></div>
      <a [routerLink]="['/other-home']" fragment="funcionamiento" class="navbar-link">¿Cómo funciona?</a>
      <div class="navbar-divider"></div>
      <a [routerLink]="['/other-home']" fragment="contactos" class="navbar-link">Contacto</a>
    </div>
    <div class="navbar-profile2">
        
        <img src="assets/images/navbar/profile-icon.png" alt="Profile Icon">
      </div>
  </nav>
  