<div class="container">
    <h1>Apps de Sorteos más <span class="highlight">Usadas</span></h1>
    <p>Más de 13 aplicaciones para realizar sorteos online y hacer crecer tu marca. ¡Pruébalo ahora!</p>
    
    <div class="sorteos">

        <div class="sorteo">
            <img src="assets/images/usadas/facebook.png" alt="Facebook" class="small-logo">
            <h2 class="blue">Sorteo en Facebook</h2>
            
            <p>Seleccionar un usuario que haya reaccionado a tu publicación.</p>
            
            <button class="select-button" onclick="window.location.href='https://localhost:3200/auth/facebook'">Seleccionar</button>
        </div>

        <div class="sorteo">
            <img src="assets/images/usadas/instagram.png" alt="Instagram" class="small-logo">
            <h2 class="blue">Sorteo en Instagram</h2>
            
            <p>Escoge un comentario ganador de tus fotos.</p>
            <button class="select-button">Seleccionar</button>
        </div>

        <div class="sorteo">
            <img src="assets/images/usadas/google.png" alt="Lista" class="small-logo">
            <h2 class="blue">Listado de Concursantes</h2>
            
            <p>Ingresar manualmente a los participantes en el sorteo.</p>
            <!-- <button class="select-button" onclick="window.location.href='https://sistemasorteos.onrender.com/auth/facebook'">Seleccionar</button> -->
            <button routerLink="/home" class="select-button">Seleccionar</button>
        </div>

    </div>
</div>
