<nav class="navbar">
  <div class="navbar-left">
    <div class="navbar-logo">
      <a routerLink="/other-home">
        <img src="/assets/images/navbar/logo sin fondo.png" alt="Sorteos">
        <span class="brand-name">Sorteos</span>
      </a>
    </div>
  </div>
  <!-- <div class="navbar-menu">
    <a href="#" class="navbar-link">Crear Cuenta</a>
    <div class="navbar-divider"></div>
    <a href="/login" class="navbar-link">Ingresar</a>
  </div> -->
</nav>

<!-- <nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/home">
      <img src="assets/images/navbar/logo sin fondo.png" alt="Sorteos">
      <span class="brand-name">Sorteos</span>
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" routerLink="/home">Inicio</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/funcionamiento">Cómo Funciona</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/contacto">Contacto</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/planes">Precios</a></li>
  </ul>
  <div class="auth-buttons">
    <a routerLink="/login">
      <button class="login-button">Login</button>
    </a>
    <button class="signup-button">Sign up</button>
  </div>
  <div class="burger" (click)="toggleMenu()">
    &#9776;
  </div>
</nav>
<div class="mobile-menu" *ngIf="menuOpen">
  <a href="#">Inicio</a>
  <a href="#">Cómo Funciona</a>
  <a href="#">Contacto</a>
  <a href="#">Precios</a>
</div> -->